# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.*.o
board.buildinfo
*.obj
*.bin
*.elf
*ino.elf
*ino.map
*.map
*.buildinfo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vs
*.sou
*.db
*.xml
